body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url("images/bg11.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Pixelify Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexTitle {
  font-size: 4rem;
  color: #5c2e00;
  text-shadow: 2px 2px #f8e6c2;
  background-color: #f8e6c2;
  border: 10px solid #a0522d;
  border-radius: 16px;
  padding: 20px 40px;
  animation: bounce;
  animation-duration: 2s;
}

.startGameBtn {
  display: inline-block; /*to allow padding and margin*/
  margin-top: 30px;
  padding: 12px 28px;
  font-size: 1.5rem;
  color: white;
  background-color: #a0522d;
  border: 3px solid #5c2e00;
  border-radius: 20px;
  text-decoration: none; /*to remove the underline*/
  animation: bounce;
  animation-duration: 2s;
}

.startGameBtn:hover {
  background-color: #8b4513;
  transform: scale(
    1.05
  ); /* to make the button a bit larger when hovering on it */
  transition: all 0.3s ease-in-out; /*a bit of animation when the button is scaling large there is a smooth transition*/
}
