body {
  margin: 0;
  min-height: 80dvh;
  min-width: 80vw;
  text-align: center;
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Pixelify Sans";
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.mainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.indexTitle {
  font-size: 4rem;
  color: #5c2e00;
  text-shadow: 2px 2px #f8e6c2;
  background-color: #f8e6c2;
  border: 10px solid #a0522d;
  border-radius: 16px;
  padding: 20px 40px;
  animation: bounceIn;
  animation-duration: 1s;
  width: 50vw;
  margin: 0;
}

.startGameBtn {
  display: inline-block; /*to allow padding and margin*/
  margin-top: 30px;
  padding: 12px 28px;
  font-size: 1.5rem;
  color: white;
  background-color: #a0522d;
  border: 3px solid #5c2e00;
  border-radius: 20px;
  text-decoration: none; /*to remove the underline*/
  animation: fadeIn;
  animation-duration: 2s;
}

.startGameBtn:hover {
  background-color: #8b4513;
  transform: scale(
    1.05
  ); /* to make the button a bit larger when hovering on it */
  transition: all 0.3s ease-in-out; /*a bit of animation when the button is scaling large there is a smooth transition*/
}

.gooseRotating {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 20%;
  left: 71%;
  animation: fadeIn;
  animation-duration: 10s;
}

.catRotating {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 36%;
  right: 71%;
  animation: fadeIn;
  animation-duration: 10s;
}

.mainGame {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.gameHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameStats {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 10px 0;
  background-color: #f8e6c2;
  border: 4px solid #a0522d;
  border-radius: 12px;
  padding: 8px 20px;
  font-size: 1.2rem;
  color: #5c2e00;
  text-shadow: 1px 1px #fff5e1;
}

.gameStats p {
  font-weight: bold;
}

.gameStats span {
  font-weight: normal;
}

.square {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: none;
}

.smallSquare {
  width: 110px;
  height: 110px;
  background: #f8e6c2;
  border: 4px solid #a0522d;
  border-radius: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.smallSquare:hover {
  background: #f1d5a8;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.gameResult {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  background-color: #f8e6c2;
  border: 4px solid #a0522d;
  border-radius: 12px;
  padding: 15px 20px;
  font-size: 1.2rem;
  color: #5c2e00;
  text-shadow: 1px 1px #fff5e1;
  opacity: 0;
  gap: 180px;
}

#result {
  margin: 0;
  font-weight: bold;
}

.restartButton,
.levelTwo,
.levelThree {
  margin: 0;
  background-color: #d48a9c;
  color: white;
  font-family: "Pixelify Sans";
  font-size: 1em;
  font-weight: bold;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
}

.restartButton:hover,
.levelTwo:hover,
.levelThree:hover {
  background-color: #b86b82;
}

.resetLevels {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 25px;
  margin-left: 30px;
  width: 95vw;
}

.resetLevels img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease;
  background-color: #a0522d;
  border: 3px solid #5c2e00;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.resetLevels img:hover {
  transform: scale(1.1);
}

.instructions {
  position: fixed;
  top: 50%; /* centering vertically */
  left: 50%; /* centering horizontally */
  transform: translate(-50%, -50%); /* adjust for the element's own size */
  opacity: 1; /* starting with full visibility */
  transition: all 0.5s ease;
  background-color: #f8e6c2;
  border: 12px solid #a0522d;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 100; /* this property ensures that the instructions appears above other elements */
  text-align: center;
  width: 35vw;
  height: 70vh;
  font-size: 1.4rem;
}

.cursor img {
  position: absolute;
  pointer-events: none;
  transform: translate(-40%, -40%);
  height: 90px;
}

@keyframes hit {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(0deg);
  }
}
